<div class="w-full container m-auto mt-36">
  <app-card colorFondo="#FFFFFF">
    <div class="grid grid-cols-12 gap-4 p-20">
      <div class="col-span-12 text-center text-3xl font-bold ">
        Bienvenido al Sistema Reserva de Citas de la veterinaria PetHist
      </div>
      <div
        class="sm:col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-8 col-span-full p-16 text-center text-lg"
      >
        El sistema de reserva de citas de la veterinaria PetHist es una
        herramienta diseñada para facilitar la programación de citas en la
        veterinaria. Permite a los clientes reservar citas en línea de forma
        rápida y sencilla, evitando la necesidad de llamar por teléfono o
        visitar la veterinaria en persona para programar una cita.
      </div>
      <div
        class="sm:col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-4 col-span-full home_img_section"
      ></div>
      <div
        class="sm:col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-8 col-span-full text-center text-lg"
      >
        Si urgen algún problema comuníquese con soporte. Gracias
      </div>
    </div>
  </app-card>
</div>