<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-control-menu (closeSideNav)="drawer.close()"></app-control-menu>
  </mat-drawer>

  <mat-drawer-content style="margin-left: 0px !important">
    <nav class="bg-coloresPer-icon">
      <div class="mx-auto">
        <div class="relative flex h-16 items-center justify-between">
          <div class="flex flex-1 items-center sm:justify-start">
            <button
              (click)="drawer.toggle()"
              type="button"
              class="ml-5 inline-flex items-center rounded-md p-2 text-gray-50 hover:bg-coloresPer-navcontainter hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="block h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
              <svg
                class="hidden h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
            <div class="block sm:ml-6">
              <div class="flex space-x-4"></div>
            </div>
          </div>
          <div
            class="mr-5 absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6"
          >
            <button
              (click)="openUserNotification()"
              type="button"
              class="rounded-full bg-coloresPer-navcontainter p-1 text-white hover:text-white"
            >
              <span class="sr-only">Ver notificaciones</span>
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
                />
              </svg>
            </button>




            
           <!-- <div class="mt-6">
              <div
                [class]="openNotification ? 'absolute' : 'hidden'"
                class="overflow-auto right-14 z-10 mt-2 w-96 h-72 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div
                  *ngFor="let item of listaNotificaciones"
                  class="flex items-center bg-white rounded-lg shadow-xl mx-auto max-w-xs relative m-5"
                >
                  <span
                    class="text-xs font-bold uppercase px-2 mt-2 mr-2 text-green-900 bg-green-400 border rounded-full absolute top-0 right-0"
                    >New</span
                  >
                  <span
                    class="text-xs font-semibold uppercase m-1 py-1 mr-3 text-gray-500 absolute bottom-0 right-0"
                    >{{ item.horaCita }}</span
                  >

                  <img
                    class="h-12 w-12 ml-2 rounded-full"
                    alt="John Doe's avatar"
                    src="assets/images/img9.jpg"
                  />

                  <div class="ml-5">
                    <h4
                      class="text-sm font-semibold leading-tight text-gray-900"
                    >
                      {{ item.nombreCliente }}
                    </h4>
                    <p class="text-sm text-gray-600">
                      {{ item.nombreCliente }} reservó una cita el día
                      {{ item.fechaCita }}
                    </p>
                  </div>
                </div>
                <div class="p-5">
                  <app-input-button
                  (click)="redireccionar('control/notificacion')"
                  inputTitle="Ver mas..."
                  svgUrl="assets/svg/bell-solid.svg"
                ></app-input-button>
                </div>
              </div>
            </div>-->



            <div class="mt-6">
              <div
                [class]="openNotification ? 'absolute' : 'hidden'"
                class="overflow-auto right-14 z-10 mt-2 w-96 h-72 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div
                  *ngFor="let item of listaNotificaciones"
                  class="flex items-center bg-white rounded-lg shadow-xl mx-auto max-w-xs relative m-5"
                >
                  <span
                    class="text-xs font-bold uppercase px-2 mt-2 mr-2 text-white bg-green-400 border rounded-full absolute top-0 right-0"
                    [ngStyle]="{'background-color': (item.estado === 0 ? 'green' : 'red')}"
                    >  {{item.estado==0?'Pendiente':'Finalizado'}}</span
                  >
                 

                  <img
                    class="h-12 w-12 ml-2 rounded-full"
                    alt="John Doe's avatar"
                    src="assets/images/img9.jpg"
                  />

                  <div class="ml-5">
                    <h4
                      class="text-sm font-semibold leading-tight text-gray-900"
                    >
                      {{ item.nombreCliente }}
                    </h4>
                    <p class="text-sm text-gray-600">
                      {{ item.nombreCliente }} reservó una cita el día
                      {{ item.fechaCita }} a las {{ item.horaCita }} 
                    </p>
                  </div>
                </div>
                <div class="p-5">
                  <app-input-button
                  (click)="redireccionar('control/notificacion')"
                  inputTitle="Ver mas..."
                  svgUrl="assets/svg/bell-solid.svg"
                ></app-input-button>
                </div>
              </div>
            </div>











            <div class="relative ml-3">
              <div>
                <button
                  (click)="openUserDetail()"
                  type="button"
                  class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  id="user-menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <span class="sr-only">Open user menu</span>
                  <img
                    class="h-8 w-8 rounded-full"
                    src="assets/images/img6.png"
                    alt=""
                  />
                </button>
              </div>
              <div
                [class]="openUser ? 'absolute' : 'hidden'"
                class="right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu-button"
                tabindex="-1"
              >
                <a
                  href="javascript:void(0);"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-0"
                  (click)="redireccionar('/control/profile')"
                  >Tu perfil</a
                >
                <a
                  href="javascript:void(0);"
                  class="block px-4 py-2 text-sm text-gray-700"
                  role="menuitem"
                  tabindex="-1"
                  id="user-menu-item-2"
                  (click)="cerrarSesion()"
                  >Cerrar sesión</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <router-outlet style="z-index: 1 !important">
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>