<div
  class="w-full px-12 py-9"
>
  <app-card cardTitle="">
    <div class="grid grid-cols-12 gap-4 m-auto">
      <app-input-text
        class="sm:col-span-12 md:col-span-9 lg:col-span-10 xl:col-span-11 col-span-full"
        inputId="filtro"
        inputTitle="Filtro"
        inputPlaceHolder="Ingrese filtro"
        inputType="text"
        svgUrl="assets/svg/magnifying-glass-solid.svg"
        (send)="formNotificacionFiltros.get('filtro')?.setValue($event)"
      ></app-input-text>
      <app-input-button-filter
        class="sm:col-span-12 md:col-span-3 lg:col-span-2 xl:col-span-1 col-span-full"
        inputTitle="Aplicar"
        (click)="listarNotificaciones(1)"
      ></app-input-button-filter>
    </div>
  </app-card>
  <div class="p-2">
    <div class="grid grid-cols-10">
      <p
        style="margin-top: 30px"
        class="sm:col-span-12 md:col-span-7 lg:col-span-8 xl:col-span-8 col-span-full subtitulo"
      >
      Lista de notificaciones
      </p>
      <div class="col-span-12">
        <app-grid
          [listaCabecera]="dataCabecera"
          [listaDetalle]="dataDetalle"
          [totalPage]="totalPages"
          [currentPage]="currentPage"
          [totalCount]="totalCount"
          [numeroTotalPage]="numeroTotalPages"
          [editar]="false"
        ></app-grid>
      </div>
    </div>
  </div>
</div>

