.logo_img_section {
  background-image: url("../../../assets//images/img10.jpg");
  background-repeat: no-repeat;
}
.ul-color {
  background-color: #ffffff;
}
.nav-color {
  background-color: #fcfcfc;
}
.li-color-text {
  color: #232323;
}
.li-color-text:hover {
  color: #7d7143;
}
.inicio-img {
  width: 100%;
  height: 80vh;
}
.titulo-inicio {
  color: #7d7143;
  font-size: 4em;
  font-weight: 800;
  text-align: left;
  line-height: 4rem !important;
}
.subtitulos {
  color: #7d7143;
  font-size: 1.5em;
  font-weight: 800;
}

.img-especialidades {
  width: 100%;
  height: 30vh;
}