.logo_img_section{
  background-image: url("../../../assets//images/img10.jpg");
  background-repeat: no-repeat;
  }
  .ul-color{
    background-color: #FFFFFF;
  }
.nav-color{
  background-color: #FCFCFC;
}
.li-color-text{
  color: #232323;
}
.li-color-text:hover{
  color: #7D7143;
}
.inicio-img
{
  width: 100%;
  height: 80vh;
}
.titulo-inicio{
  color: #7D7143;
  font-size: 4em;
  font-weight: 800;
  text-align: left;
  line-height: 4rem !important;
}
.subtitulos{
  color:#7D7143 ;
  font-size: 1.5em;
  font-weight: 800;

}
